/* ====================================
// css variables
// ==================================== */

:root {
  --fuchsia: #c4007a;
  --blue-international: #201e50;
  --green-economy: #c1edcc;
  --purple-society: #a6a8da;
  --orange-sport: #fe5e41;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: #f9f9f9;
  padding: 45px 30px;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

h2 {
  font-size: 16px;
}

h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.title-section {
  margin-bottom: 45px;
}

.special-title {
  margin-bottom: 89px;
  margin-top: 80px;
}

.special-background {
  background-color: var(--fuchsia);
  height: 183%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
}

@media (min-width: 768px) {
  .special-background {
    height: 99%;
  }
}

@media (min-width: 1400px) {
  .special-background {
    height: 60%;
  }
}

.main-section {
  margin-bottom: 45px;
}
